@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");
:root{
    --header-height: 5rem;
    --nav-width: 0em;
    --first-color: #4723D9;
    --first-color-light: #AFA5D9;
    --white-color: #F7F6FB;
    --body-font: 'Nunito', sans-serif;
    --normal-font-size: 1rem;
    --z-fixed: 100
}

*,::before,::after{
    box-sizing: border-box
}

body{
    position: relative;
    padding: 0 1rem;
	margin-top: 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    transition: .5s
}

a{
    text-decoration: none
}

.header{
    width: 100%;
    height: var(--header-height);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    background-color: var(--white-color);
    z-index: var(--z-fixed);
    transition: .5s
}
    

